
.gif-view {
    position: fixed;
    background-color: black;
    left: calc(50% - 480px);
    top: calc(50% - 270px);
}

.gif-view-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.9);
}
